.order-admin-page {
    width: 100%;
    height: 100%;
    padding-top: 90px;
    box-sizing: border-box;
    position: relative;

    .header-wrapper {
        width: 100%;
        height: 90px;
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #FFF;
        font-size: 26px;

        .query-date-wrapper {
            display: flex;
            align-items: center;

            .date-text {
                padding: 0 10px;
                font-size: 32px;
            }

            .down-icon {
                font-size: 20px;
            }
        }

        .today-food-entry {
            .food-entry-text {
                color: #38ccc6;
            }
        }
    }

    .order-list-wrapper {
        width: 100%;
        height: 100%;
        padding: 30px;
        box-sizing: border-box;
        overflow-y: scroll;

        .order-item-wrapper {
            border-radius: 4px;
            background: #FFF;

            .order-item-header-wrapper {
                padding: 30px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #969696;

                .stall-name {
                    font-size: 26px;
                }

                .order-date {
                    font-size: 26px;
                }

            }

            .divider {
                width: 100%;
                height: 1px;
                background: #e7e7e7;
            }

            .food-list-wrapper {
                padding: 0 30px 30px;

                .food-item-wrapper {
                    height: 60px;
                    padding: 15px 0;

                    .food-info-wrapper {
                        display: flex;
                        align-items: center;
                        font-size: 28px;

                        .food-img-wrapper {
                            width: 60px;
                            height: 60px;
                            text-align: center;

                            img {
                                width: 60px;
                                height: 60px;
                            }
                        }

                        .food-intro-wrapper {
                            width: 370px;
                            height: 60px;
                            line-height: 60px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            padding: 0 10px;
                            color: #969696;
                        }

                        .food-amount-wrapper {
                            flex: 1;
                            text-align: right;
                            font-size: 28px;
                            color: #969696;

                            .unit {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .total-amount-info {
                padding: 0 30px 30px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                font-size: 28px;
                .total-num {
                    color: #969696;
                    padding-right: 30px;
                }
                .total-amount-wrapper {
                    color: #4a4a4a;
                    font-size: 34px;
                    font-weight: 600;
                    .unit {
                        font-size: 16px;
                    }
                }
            }

            .detail-btn-wrapper {
                padding: 0 30px 30px;
                display: flex;
                justify-content: flex-end;

                .detail-btn {
                    display: inline-block;
                    width: 136px;
                    height: 60px;
                    line-height: 60px;
                    text-align: center;
                    background: #38ccc6;
                    color: #ffffff;
                    border-radius: 4px;
                }

                .detail-btn:active {
                    opacity: 0.8;
                }
            }
        }

        .order-item-wrapper+.order-item-wrapper {
            margin-top: 30px;
        }
    }
}