.order-detail-page {
    width: 100%;
    height: 100%;
    padding: 30px;
    background: #f3f3f3;
    box-sizing: border-box;

    .order-info-wrapper {
        background: #FFF;
        border-radius: 4px;

        .order-header-wrapper {
            padding: 30px;
            box-sizing: border-box;
            color: #969696;

            .stall-name {
                font-size: 26px;
            }
        }

        .divider-wrapper {
            padding: 0 30px;

            .divider {
                width: 100%;
                height: 1px;
                background: #e7e7e7;
            }
        }

        .food-list-wrapper {
            padding: 15px 30px;

            .food-item-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 0;

                .food-img-wrapper {
                    width: 150px;
                    height: 150px;
                    text-align: center;

                    img {
                        height: 150px;
                    }
                }

                .food-name-spec-wrapper {
                    flex: 1;
                    padding: 0 20px;

                    .food-name {
                        font-size: 30px;
                        font-weight: 600;
                        color: #4a4a4a;
                    }

                    .spec-name {
                        .spec-tag {
                            font-size: 20px;
                            color: #969696;
                            padding-right: 5px;
                        }
                    }
                }

                .food-amount-wrapper {
                    width: 200px;
                    color: #969696;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .food-number {
                        font-size: 22px;
                    }

                    .food-price {
                        font-size: 28px;

                        .unit {
                            font-size: 16px;
                        }
                    }
                }


            }
        }

        .nutrition-wrapper {
            padding: 0 30px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 25px;

            .nutrition-item-wrapper {
                font-size: 26px;
                color: #969696;
                display: flex;
                align-items: center;
                padding: 5px 0;

                .nutrition-name {
                    padding-left: 10px;
                }
            }
        }

        .total-fee-wrapper {
            text-align: right;
            padding: 35px 30px;

            .total-count {
                font-size: 24px;
                color: #969696;
                padding-right: 30px;
            }

            .total-amount {
                color: #4a4a4a;
                font-size: 28px;

                .unit {
                    font-size: 16px;
                }
            }
        }
    }

    .other-info-wrpaper {
        padding: 0 30px;
        background: #fff;
        box-sizing: border-box;
        margin-top: 30px;
        .other-info-title {
          font-size: 26px;
          padding: 36px 0;
          color: #969696;
        }
        .other-detail-info-wrapper {
          border-top: 1px solid #e7e7e7;
          padding: 14px 0;
          .other-detail-item {
            display: flex;
            justify-content: space-between;
            padding: 14px 0;
            .label {
              font-size: 26px;
              color: #969696;
            }
            .text {
              font-size: 26px;
              color: #4a4a4a;
            }
          }
        }
      }
}