.order-detail {
    width: 100%;
    height: 100%;
    padding: 30px;
    background: #f3f3f3;
    box-sizing: border-box;

    .order-info-wrapper {
        background: #FFF;
        border-radius: 4px;

        .order-header-wrapper {
            padding: 30px;
            box-sizing: border-box;
            color: #969696;

            .stall-name {
                font-size: 26px;
            }
        }

        .divider-wrapper {
            padding: 0 30px;

            .divider {
                width: 100%;
                height: 1px;
                background: #e7e7e7;
            }
        }
    }
}