.App {
    font-family: "Rajdhani-Medium", "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    background: #fafafa;
    box-sizing: border-box;
    position: relative;
    user-select: none;
}